{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
